@media (max-width: 1020px){
  .sidebar {
    margin-right: 1.8em;
  }
  .main {
    padding-left: .625em;
    padding-right: .625em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  section.posts{
    margin-left: 1.3em;
  }
  .posts{
    padding-right:20px;
  }
  .post .intro .description {
    font-size: 1.1em;
  }
}
@media (max-width:979px) {
  .cover {
    display: none;
  }
  .header .desktop {
    display: none;
  }
  .top-categories {
    display: none;
  }
  .posts .post h2 {
    font-size:1.575em;
    line-height:1.3;
    padding:.581em .981em .125em
  }
  .mobile-category-list {
    display: block;
    padding: 0px 1.3em;
  }
  aside.sidebar{
    margin-top:68px;
  }
  .comments-count.visible-downto-xs{
    display:none;
  }
  section.posts{
    margin-top:20px;
  }
  .main {
    max-width: 60.75em;
    margin-top:5px;
  }
  .post-cover-container a img{
    width: 100%;
    height: auto;
  }
  .header .mobile {
    display: block;
    position: relative;
    z-index: 9999;
    background-color: #363946;
    height: 55px;
  }
}
@media (max-width: 768px){
  .main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: .925em;
    padding-right: .925em;
    max-width: 60.75em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .posts {
    width: auto;
    margin-right: 0;
    padding-right:0px; 
  }
  .sidebar {
    display: none;
  }
  section.posts{
   margin-left: 0;
  }
  .mobile-category-list {
    padding: 0px 0px;
  }
}
@media (max-width: 979px){
  .header .responsive-sub-menu {
    display: block;
  }
}

@media (max-width: 767px){
  .header .mobile .add-post {
      display: none;
  }
}
@media (max-width: 480px){
  .post .intro .description {
   font-size: .8em;
   line-height: 1.5;
  }
  section.posts{
    margin-top: 0px;
  }
  .mobile-category-list {
    margin-top: 0px;
    ul{
      margin-top: 5px;
      margin-bottom: 0px;
    }
  }
  .posts .post h2 {
    font-size:1.4em;
  }
}

